*{
	border:.5px solid;
	border-color:red;
	
	
	
	
}



body {
  margin: 0;
  padding: 0;
  border: 0;
  background: white;
}

.main-head {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 101px;
  width: 100%;
  background-color: #292929;
}

.main-head img {
  display: flex;
  align-self: flex-start;
  position: absolute;
  width: 100px;
  max-width:100%;
  height:auto;
}

#main-nav {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: #292929;
  overflow: hidden;
}

#main-nav ul {
  display: flex;
  /* flex: 1; */
  list-style-type: none;
  margin-top: auto;
  padding: 0;
}



#main-nav a {
  display: inline;
  padding: 15px;
  border: 1px solid #292929;
  color: white;
  background-color: #292929;
  transition: all 1s ease;
  text-decoration: none;
}

#main-nav a:hover {
  border: 1px solid #e0e0e0;
  background-color: #2d2c2c;
}

.login-link {
  display: flex;
  /* flex: 1; */
  justify-content: flex-end;
}

.platsnavknapp {
	position:absolute;
	padding-left:30px;
	padding-top:60px;
}
.sidenav {
    height: 40%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 200px;
    left: 0;
    background-color: #292929;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	height:200px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
